.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.tweet {
  border: 4px solid blue;
  min-height: 50px;
}
.tweet img {
  float: left;
  margin-right: 5px;
  width: 40px;
  height: 40px;
}
p.tweet {
  font-family: 'Droid Sans', sans-serif;
  text-align: left;
  padding: 5px;
}